<li>
    {% set query = app.request.requestUri|url_encode %}
        <a href="{{ path('save_filter', {'query' : query}) }}">
            <i class="fa fa-file-image-o"></i>
            Sauvegarder les filtres
        </a>
</li>